// Личный кабинет
.choice-block
  margin-bottom 35px

  .field
    display inline-block
    margin-right 4px
    border-bottom 1px solid $shadow
    padding 8px 20px 8px 15px
    background-color white

  .iradio
    vertical-align text-bottom

  label
    display inline-block
    margin 0
    color $text-color

.private
  margin-bottom 60px
  clearfix()

.private__menu
  float left
  width 240px

  .list
    padding-left 0
    list-style-type none

  .item
    margin-bottom 12px

  .link
    text-decoration none
    font bold italic 13px/21px $custom
    text-transform uppercase

  .link:hover
  .active .link
    color $second-color

.private__page
  // overflow hidden
  margin-left 250px

  .title
    margin-bottom 30px
    font bold italic 21px/21px $custom
    text-transform uppercase

  .subtitle
    margin-bottom 18px
    font bold italic 16px/21px $custom

  .action
    text-align right

  .table
    margin-bottom 30px
    width 100%
    font-size 13px

    tr
      border-bottom 1px solid #c5c7ca

    td
      padding 13px 12px
      border none
      vertical-align middle

    .border
      border-width 2px

      td
        padding-top 20px
        padding-bottom 20px

    .item
      width 205px
      color #666666

    .bold
      color $text-color
      font-weight 700

    .discount
      color $second-color

  .subscribe-message
    margin-bottom 14px
    font-size 13px

// История заказов
.order-list
  margin-bottom 42px

.order-item
  margin-bottom 2px

  & + .subtitle
    margin-top 60px

.order-item__head
  display block
  padding 10px
  background-color white
  border-bottom 1px solid $shadow
  cursor pointer
  user-select none
  font-size 11px

  &:before
    content ""
    display inline-block
    margin-right 10px
    width 21px
    height 21px
    vertical-align middle
    s-arrow-up()

  &.collapsed:before
    s-arrow-down()

  .btn
    margin-left 11px
    height 24px
    padding-top 6px
    padding-bottom 4px
    font-size 10px

  .cancel
  .btn
    display inline-block
    vertical-align top

  .cancel
    line-height 24px

  .right
    margin-top -2px

  .date
    margin-right 20px

.order-item__body
  .title
    margin 15px 0 12px 12px
    font-size 13px

.order-detail
  padding-top 20px
  margin-bottom 22px

  .table
    margin-bottom 0
    border-top 2px solid #c5c7ca

    .link
      text-decoration none

    .total
      .item
        width 100%
        text-align right

    .item_weight
      width 180px
      text-align left

    .item_delivery
      width 170px
      text-align left

    .item_total-summ
      width 237px
      position relative
      text-align left
      top 1px

      strong
        position relative
        top -2px
        font 700 italic 24px/26px $custom

  .table_consist
    .item_name
      width 510px

      .link
        display block
        margin-bottom 5px
        font bold 14px/21px $custom

      .art
        color $text-color
        font-size 11px

        span
          color #898989

    .item_amount
    .item_summ
    .item_weight
    .item_delivery
    .item_total-summ
      color $text-color

    .item_weight
    .item_delivery
    .item_total-summ
    .total .total-summ
    .total strong
      display inline-block
      vertical-align middle

    .item_amount
      width 86px

    .item_summ
      width 120px
      font italic bold 19px/21px $custom
      text-align left

.private__page_history
  .cancel
    color $second-color


