$btn-height = 32px

.btn
  position relative
  display inline-block
  border-width 0px
  border-style solid
  border-radius 0px

  padding 7px 14px 8px
  height $btn-height

  color #fff !important

  font 700 italic 13px/1.3 $custom

  vertical-align middle
  text-align center
  text-decoration none
  text-transform uppercase
  white-space nowrap

  cursor pointer
  touch-action manipulation
  user-select none
  // transition background-color ease .3s

  btn-var($base-color)

  & + .btn
    margin-left 15px


.btn_second
  btn-var($second-color)


.btn_sloped
  margin-left 8px

  &:after
  &:before
    content " "
    position absolute
    left -8px
    top 0
    size(0)
    border-width ($btn-height / 2) 4px
    border-style solid

.btn_sm
  height $btn-height - 4
  font 700 italic 11px/15px $custom

  &.btn_sloped
    padding-left 11px
    margin-left 6px

    &:after
    &:before
      left -6px
      border-width (($btn-height - 4) / 2) 3px

.btn_lg
  height $btn-height + 4
  font 700 italic 14px/24px $custom

  &.btn_sloped
    margin-left 6px

    &:after
    &:before
      left -8px
      border-width (($btn-height + 4) / 2) 4px

.btn_link
  border-color transparent
  background-color transparent
  color $base-color
  text-decoration underline

  &:hover
    background-color transparent
    text-decoration none

  &:active
  &:focus
    background-color transparent

  & + .btn
    margin-left 15px


.btn_block
  display block
  width 100%
