base_styles_fields()
  display block
  border 1px solid $field-border-color
  border-radius 0px

  padding 7px 14px 8px
  width 100%
  height 34px

  background-color transparent
  color $text-color

  font 400 $font-size-base/1.3 $font-family-base

  box-sizing border-box
  transition border-color ease .3s

  placeholder($gray, italic)

  &:focus
    border-color #c9cbcf
    box-shadow 0 0 5px rgba($base-color, .4)
    placeholder(#ccc, italic)

  &[disabled]
  &[readonly]
    opacity .6

  &.error
  .error &
    border-color #ff0000

.form-settings
.form-messages
  margin-bottom 50px
  max-width 570px

.form-password
  margin-bottom 50px
  max-width 450px

.form-subscribe
  margin-bottom 50px
  width 240px

.form-group_type
  width 280px

.form-group_inn
  width 115px

.form-group_email
.form-group_pass
  width 210px

.form-group_phone
  width 155px

.form-group_zip
  width 120px


.form-control
  base_styles_fields()

  textarea&
    height auto

  &.input_error
    border-color red

  & + .input_error
    margin-top 3px
    color red

  &.input_success
    border-color green


.form-group
  margin-bottom 15px

  label
    display block
    margin-bottom 6px
    color #666

  .note
    font-size 11px

  &:last-child
    margin-bottom 0

.form-inline
  .form-group
    display inline-block

    & + .form-group
      margin-left 20px

form .error
form.error
  input[type="text"]
  input[type="search"]
  input[type="email"]
  input[type="password"]
  textarea
  select
    border-color red

.checkbox + .checkbox
.radio + .radio
  margin-top 8px

.checkbox .icheckbox
.radio .iradio
    margin-right 3px

.capcha
  img
  .form-control
    display inline-block
    vertical-align top
    margin-bottom 10px

  .form-control
      max-width 75px

  .form-control
    margin-top 4px

  .reload
    s-reload()
    vertical-align middle
    margin 9px 10px 0 5px