.iradio
.icheckbox
  display inline-block
  *display inline
  vertical-align middle
  margin 0
  padding 0
  border 1px solid $shadow
  width 16px
  height 16px
  cursor pointer
  transition border-color .3s, box-shadow .3s

  &:before
    content ""
    display none
    position absolute
    left 50%
    top 50%
    margin -5px 0 0 -5px
    size(9px)
    background black

  &.hover
    box-shadow 0 0 2px rgba(#000, .2)
    border-color darken($shadow, 15%)

  &.checked
    &:before
      display block

  &.disabled
    cursor default
    opacity .4


.icheckbox
  &:before
    background url("../images/icheck/icheckbox.png") no-repeat

  @media $m-retina
    &:before
        background-image url("../images/icheck/icheckbox@2x.png")
        background-size 9px 9px


.iradio
  border-radius 50%

  &:before
    border-radius 50%
    size(6px)
    margin -3px 0 0 -3px



