// used plugin fancybox
// initialization ins are in file js/scripts/fancybox-popup.js

.fancybox-gallery-skin {

  // .fancybox-skin {
  //   box-shadow none !important
  //   background #333
  //   color #fff
  // }
}

.popup
  position relative

.popup__wrap
  padding 40px 50px
  background-color white

  .popup-title
    margin-bottom 10px
    font 700 21px/32px $custom
    text-transform uppercase


.popover
  position absolute
  z-index 9999
  top 100%
  left 0
  min-width 300px

  .popover-close
    position absolute
    right 5px
    top 5px

  &.in .popover__wrap
    box-shadow 0 1px 25px rgba(0,0,0,.40)

.popover-close
  display inline-block
  overflow hidden
  size(22px)
  padding 4px
  color $base-color
  text-decoration none
  text-align center
  box-sizing content-box
  opacity 0.7
  transition opacity .2s

  &:before
    content '\00d7'
    font-size 22px
    line-height 22px
    color $base-color

  &:hover
    opacity 1


.popover__wrap
  position relative
  margin-top 5px
  padding 40px 50px
  background-color white
  // box-shadow 0 1px 25px rgba(0,0,0,.50)
  transition box-shadow .3s

  .popover-title
    margin-bottom 10px
    font 700 21px/32px $custom
    text-transform uppercase
    color $text-color


// размеры всплывашек
.popover_callme
.popup_callme
  width 400px

.popover_singin
.popover_singup
  left auto
  right 0
  width 400px


.popup_map
  display none
  size(600px, 380px)
  padding 10px