$font-typography = $font-base
$font-size-typography = 13px
$line-height-typography = 20px

$font-size-h1 = ceil(($font-size-typography * 2.2))
$font-size-h2 = ceil(($font-size-typography * 1.8))
$font-size-h3 = ceil(($font-size-typography * 1.4))
$font-size-h4 = ceil(($font-size-typography * 1.2))
$font-size-h5 = $font-size-typography
$font-size-h6 = ceil(($font-size-typography * 0.85))

$margin-bottom-typography = 10px


// heading
h1
h2
h3
h4
h5
h6
  margin-bottom 10px
  font-weight 700
  line-height normal

h1
h2
h3
  margin-top 20px

h4
h5
h6
  margin-top 10px

h1
  font-size $font-size-h1

h2
  font-size $font-size-h2

h3
  font-size $font-size-h3

h4
  font-size $font-size-h4

h5
  font-size $font-size-h5

h6
  font-size $font-size-h6


p
ul
ol
table
blockquote
  margin 0 0 10px


blockquote
  margin-left 20px
  padding 10px 20px
  font-style italic
  border-left 3px solid $base-color

  ul:last-child
  ol:last-child
  p:last-child
    margin-bottom 0


table
  border-spacing 0
  border-collapse collapse
  width 100%

th
td
  border-bottom 1px solid #ddd
  padding 8px 8px 8px 0
  line-height 18px
  text-align left
  vertical-align top

tr:last-child
  td
    border-bottom 0

th
  font-weight bold

  thead &
    background-color #F3F3F3
    border-bottom-width 2px


thead td
  background #F3F3F3


// Lists
ol
ul
  padding-left 30px

  ul
  ol
    margin-bottom 0


ul
  list-style disc


ul ul
  list-style circle


ul ul ul
  list-style square


ol
  list-style decimal


ul.list_unstyled
ol.list_unstyled
  padding-left 0
  list-style none

ul.list_line
ol.list_line
  margin 0 -5px
  padding-left 0
  list-style none

  li
    display inline-block
    padding-right 5px
    padding-left 5px


img
  max-width 100%
  vertical-align top


.typography
  line-height $line-height-typography
  font-size $font-size-typography

  &:after
  &:before
    display block
    content ''

  &:after
    clear both

  img[align="right"]
    margin 0 0 15px 20px

  img[align="left"]
    margin 0 20px 15px 0

  img[align="right"],
  img[align="left"]
    @media (max-width: 767px)
      float none !important

  > p
  > ul
  > ol
  > table
  td p
  th p
  td ul
  td ol

    &:last-child
      margin-bottom 0