// b-odrer.styl
.order-page
  margin-bottom 50px
  clearfix()

  .title
    margin-bottom 25px
    font bold italic 20px/30px $custom
    text-transform uppercase

  .form-order
    width 570px

  .choice-delivery
  .choice-payment
    float left

  .choice-delivery
    width 320px

  .choice-payment
    margin-left 50px
    max-width 570px

  .order-detail .table_consist
    .item_amount
      width 80px
      padding-left 20px
      padding-right 20px

    .item_name
      width auto

    .item_total-summ
      width 245px

    .total .item
      padding-bottom 40px
      border-bottom 1px solid $shadow