.error-box
  margin-bottom 80px
  text-align center

  .numb
    margin-bottom 20px
    color $second-color
    font bold italic 100px/100px $custom

  .text-error
    margin-bottom 40px
    font bold italic 19px/22px $custom
    text-transform uppercase

    & + div
      font-size 13px

.error-box_500
  margin-top 125px