.footer
  position absolute
  left 0
  bottom 0
  width 100%
  height 120px

  padding-top 20px
  padding-bottom 25px
  background white

  font-size 11px

  clearfix()

.footer_500
  height auto
  text-align center

.footer__left
  float left
  width 220px
  margin-right 50px

  .box
    position relative
    padding-bottom 20px
    height 67px

    .link_pseudo
      position absolute
      bottom 0
      left 0


.footer__right
  overflow hidden

  .submenu
    margin-bottom 15px
    font-size 12px

  .copy
    margin-bottom 5px