@media print
  .header__top
  .header__bot
  .link_pseudo
  .link
  .cart_header
  .breadcrumbs
  .page-title
  .w-subscribe
  .footer__left
  .btn
  .sidebar
  .compare-link
  [class^='w-']
    display none
    visibility hidden

  .contacts_header
    float none

    .mode
      margin-left 210px

  .w-publ_page
    max-width 100%
