// b-sliders.styl

// слайдер на главной странице
.main-slider
  padding-top 20px
  margin-bottom 30px
  border-bottom 1px solid $shadow

  .item
    position relative
    display none
    height 280px
    overflow hidden

    clearfix()

  .image
    text-align right


    img
      display inline-block

  .caption
    position absolute
    top 0
    bottom 0
    left 0
    z-index 1
    background-color $base-color
    padding-top 35px
    padding-left 35px
    width 40%
    color white
    text-transform uppercase

    &:after
      content " "
      position absolute
      right -26px
      top -20px
      bottom -20px
      width 56px
      background $base-color
      transform rotate(10deg)

  .title
    margin-bottom 5px
    font 700 italic 47px/50px $custom

  .subtitle
    font 700 italic 26px/30px $custom

  .text
    font 400 italic 18px/30px $custom

  .title
  .subtitle
    & + .text
      margin-top 15px

  .bx-wrapper
    margin-bottom 0

  .bx-controls
    position relative
    z-index 99

  .bx-pager
    bottom 30px
    left 35px
    width auto

    a
      background-color $second-color !important
      border-radius 0 !important

    .bx-pager-link.active
      background-color lighten($base-color, 15%) !important