.header
  position relative
  @extend .shadow

  clearfix()

.header__top
  background $dark-base
  height 30px
  color #fff
  font-size 11px
  clearfix()

  a
    color inherit !important


  .user-box
    float right
    padding 5px 0 6px

  .user-links
    position relative
    display inline-block
    margin-left 10px
    vertical-align top

  .other-links
    overflow hidden
    padding 5px 0 6px

    ul
      margin 0 -15px

    li
      padding 0 15px


.header__mid
  padding 25px 0

  clearfix()

  .logo
    float left
    width 220px
    margin-top -5px
    margin-right 50px

  .logo_500
    float none
    display block
    margin 0 auto 0

  .contacts_header
    float left
    padding 5px 0
    font-size 11px
    line-height 16px
    white-space nowrap

    clearfix()

    .box
      position relative
      display inline-block
      vertical-align top
      white-space normal
      padding-bottom 20px
      height 67px

      .link_pseudo
        position absolute
        bottom 0
        left 0

      & + .box
        margin-left 30px

    .mode
      display inline-block
      margin-top 2px

  .cart_header
    position relative
    float left
    padding-bottom 20px
    padding-left 40px
    height 74px
    margin-left 50px

    .no-link:hover
      .amount
        color $base-color

    .icon-cart-lg
      position absolute
      left 3px
      top 0

    .link_icon
      position absolute
      bottom 0
      left 17px
      color $base-color
      font-size 11px

    .amount
      display block
      margin-top 5px
      font 700 italic 20px/22px $custom

    .note
      font-size 11px

.header__bot
  position relative
  clearfix()

  .w-category-links
    float left
    width 220px
    margin-right 50px

  .w-search
    float left
    width 670px
    margin-bottom 25px
