// b-widgets.styl

// поиск
.w-search
  position relative

  input[type="text"]
  input[type="search"]
    @extend .form-control
    padding-right 100px

  .btn
    position absolute
    right 0
    top 0

// Результаты поиска
.w-search__results
  max-width 670px
  margin-bottom 30px

  form
    margin-bottom 15px

    input[type="text"]
    input[type="search"]
      background transparent

  .message
    padding-left 15px
    font 400 13px/18px $font-family-base

// блок ссылок категорий/брендов в шапке
.w-category-links
  position relative

  $item-height = 60px

  .item
    position relative
    float left
    padding-top 18px
    padding-bottom 18px
    height $item-head
    width 50%
    font 700 italic 15px/24px $custom
    text-transform uppercase
    text-align center

    &.active
    &:active
      box-shadow 0 0 0 transparent


  .item_left
    width 104px
    background-color $base-color
    box-shadow inset 0 -3px 0 darken($base-color, 20%)
    z-index 1

    &:after
      content " "
      position absolute
      right -12px
      top 0
      size(0)
      border-width ($item-height / 2) 6px
      border-style solid
      border-color $base-color transparent transparent $base-color


  .item_right
    width 116px
    background-color $second-color
    box-shadow inset 0 -3px 0 darken($second-color, 20%)

  .link
    text-decoration none
    color #fff !important


// блок ссылок на категории
.w-category-list
.w-brand-list
  margin-top -1px
  margin-bottom 40px
  @extend .shadow

  .item
    margin 0 15px

    & + .item
      border-top 1px solid $shadow

  .link
    display block
    text-decoration none
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    font 500 14px/38px $custom

  & + .w-filter-panel
    margin-top -30px

  .sub
    margin-bottom 10px

    .item
      border 0

    .link
      font 400 13px/25px $font-family-base

    .sub
      margin 0
      padding 5px 0

      .link
        font 400 11px/22px $font-family-base

  .active
    .link
      color $second-color

  .catalog-links
    & > .item
      & > .sub
        display none

// блок ссылок на бренды
.w-brand-list
  .wrap-img
  .img
  .brand
    display inline-block
    vertical-align middle

  .wrap-img
    margin-right 20px
    width 70px

  .img
    display block
    margin auto

  .brand
    text-transform uppercase

  .link:hover
  .active
    .brand
      color $second-color

  .wrap-img
    margin-right 20px
    width 70px

  .img
    display block
    margin auto


// блок публикаций
.w-publ
  margin-bottom 40px
  clearfix()
.w-publ__head
  margin-bottom 10px

  .link
    display inline-block
    color $base-color
    font 700 italic 16px/18px $custom
    text-transform uppercase
    text-decoration none
    border-bottom 2px solid

    &:hover
      border-bottom-color transparent
.w-publ__body
  .item + .item
    margin-top 15px

  .item
    font-size 11px
    line-height 20px

  .date
    color $gray


// карусель товаров
.w-carousel-goods
  // position relative
  // clearfix()

  .product-item
    float left
    width 0
    overflow hidden

  .bx-wrapper
    margin-bottom 40px

  .bx-prev
    background-image none
    left -15px
    @extend .icon-slarr_left

  .bx-next
    right -15px
    background-image none
    @extend .icon-slarr_right

.w-carousel-goods__head
  margin-bottom 20px
  font 700 italic 20px/30px $custom
  text-align center
  text-transform uppercase


// панель фильтров
.w-filter-panel
  margin-bottom 40px
  @extend .shadow

  clearfix()

  .filter-block
    position relative
    margin 0 15px

    & + .filter-block
      border-top 1px solid $shadow

  .list
    margin-bottom 15px

  .title
    position relative
    padding 14px 70px 12px 0px
    font 700 italic 11px/16px $custom
    text-transform uppercase
    cursor pointer
    user-select none

    &:before
      position absolute
      right 16px
      top 13px
      font 400 normal 11px/16px $font-family-base
      text-transform none
      color $gray

    &:after
      position absolute
      right 0
      font 400 normal 18px/18px $font-family-base
      vertical-align middle

  .opening
    .title:before
      content "скрыть"

    .title:after
      content "\25B4"
      top 11px

    .list
      display block

  .closing
    .title:before
      content "показать"

    .title:after
      content "\25B4"
      top 15px
      transform rotate(180deg)

    .list
      display none


// виджет слайдера range
.widget-range
  padding-top 20px
  max-width 220px
  clearfix()
.range-fields
  font-size 11px
  color #666666

  .input-min
  .input-max
    display inline-block
    padding 3px 5px
    width 60px
    border 1px solid $field-border-color
.range-slider
  position relative
  margin 0 9px 10px
  height 5px
  background-color #e4e5e7
  clear both

  .bar
    position absolute
    top 0
    bottom 0
    background $second-color

  .grip-left
  .grip-right
    position absolute
    bottom 100%
    cursor col-resize


  .grip-left
    margin-left -9px
    s-grip-left()

  .grip-right
    margin-left 9px
    s-grip-right()

// виджет переключения типов отображения
.w-view-type
.w-view-quantity
  float right

  .item
    cursor pointer
    padding 0 5px

.w-view-type
.w-sort-panel
.w-view-quantity
  .item
    display inline-block
    line-height 12px
    vertical-align middle

    &:hover
      opacity 0.7

  .name
    display inline-block
    font 700 italic 11px/12px $custom
    text-transform uppercase
    border-bottom 1px dotted

  .active
    .name
      color $second-color
      border-bottom-color transparent

    &:after
      color $second-color

.w-view-quantity
  margin-right 30px

.w-sort-panel
  padding 0 0 13px
  margin-bottom 30px
  border-bottom 1px solid darken($shadow, 20%)

  .item
    padding-right 15px
    text-decoration none
    color black
    cursor pointer
    user-select none

    &:after
      display inline-block
      margin-left 4px
      font-size 9px

  .down:after
    content '\25bc'
    // transform rotate(0deg)

  .up:after
    content '\25b2'
    // transform rotate(180deg)

// виджет Подписки на новости
.w-subscribe

  max-width 240px

  .title
    margin-bottom 20px
    font 700 italic 13px/20px $custom
    text-transform uppercase

  .subscribe-form
    position relative

  input[type="text"]
    padding-right 55px


// Иконка крестик
.link_delete
    s-delete()

// Переключалка плюс - минус
.quantity
  font-size 0

  input[type="text"]
  .o-quantity
    height 28px
    text-align center

  .min
  .max
  input[type="text"]
    display inline-block
    width 26px
    background #cfd2d8
    vertical-align middle
    font-size 14px

  input[type="text"]
    border-width 1px 0 1px 0
    border-color #c5c7ca
    border-style solid
    width 47px
    background transparent

  .min
  .max
    border-bottom 2px solid #919498
    padding 4px 0
    font-weight 600
    font-size 17px
    cursor pointer
    line-height 20px
    height 28px
    user-select none

    &::selection
      color $text-color
      background transparent


// Виджет поле+кнопка
.w-input-group
  position relative

  input[type="text"]
    background transparent
    font-size 11px
    @extend .form-control

  .btn
    position absolute
    right 0
    top 0

.w-input-group_sm
  input[type="text"]
    height 24px
    padding-top 4px
    padding-bottom 5px

  .btn
    margin 0
    height 22px
    padding-top 5px
    padding-bottom 3px
    font-size 10px

.coupon-form
  margin-top 6px
  width 280px
