<form action="">
  <div class="form-group">
    <div class="note"><span class="red">*</span> &mdash; обязательные для заполнения поля</div>
  </div>
  <div class="form-group">
    <label>Ваше имя</label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group">
    <label>Номер телефона</label>
    <input type="text" class="form-control" >
  </div>

  <div class="form-group">
    <label>Email<span class="red">*</span></label>
    <input type="text" class="form-control" required>
  </div>

  <div class="form-group">
    <label>Вопрос или сообщение<span class="red">*</span></label>
    <textarea name="" class="form-control" rows="4" required></textarea>
  </div>

  <div class="capcha form-group mb25 ">
    <label>Код<span class="red">*</span></label>
    <div class="capcha-field">
      <img src="assets/images/capcha.png" class="image">
      <a href="javascript:;" class="reload"></a>
      <input type="text" class="form-control" required>
    </div>
  </div>

  <div class="form-group align-right">
    <input type="submit" class="btn" value="Отправить">
  </div>
</form>