<form action="">
  <div class="form-group">
    <label class="sr-only">Ваше имя</label>
    <input type="email" class="form-control input_success" placeholder="Логин (email)" required>
  </div>

  <div class="form-group mb25">
    <label class="sr-only">Ваше имя</label>
    <input type="password" class="form-control input_error" placeholder="Пароль" required>
    <div class="input_error">Обязательно для заполнения</div>
  </div>

  <div class="form-group">
    <label class="checkbox">
      <input type="checkbox" name="" value="0">

      Запомнить меня
    </label>
  </div>

  <div class="form-group align-right">
    <input type="submit" class="btn" value="Отправить">
  </div>
</form>