<div class="w-publ">
  <div class="w-publ__head">
    <a href="news.html" class="link">Новости</a>
  </div>

  <div class="w-publ__body">
    {# item #}
    <div class="item">
      <div class="date">18.04.2015</div>
      <a href="news-inner.html" class="title">В Санкт-Петербурге пройдут деловые встречи с&nbsp;тайваньскими производителями</a>
    </div>
    {# /item #}

    <div class="item">
      <div class="date">17.04.2015</div>
      <a href="news-inner.html" class="title">БелЗАН консолидировал 100% «БелЗАН&nbsp;МК»</a>
    </div>

    <div class="item">
      <div class="date">16.04.2015</div>
      <a href="news-inner.html" class="title">Греция станет участником транзита российского газа в&nbsp;Европу</a>
    </div>
  </div>
</div>