<ul class="pagination">
  <li><a href="#?" class="link icon-arrow-left"></a></li>
  <li><span class="link">1</span></li>
  <li><a class="link" href="#">...</a></li>
  <li><a class="link" href="#">4</a></li>
  <li class="active"><a class="link" href="#">5</a></li>
  <li><a class="link" href="#">6</a></li>
  <li><a class="link" href="#">...</a></li>
  <li><a class="link" href="#">9</a></li>
  <li><a href="#?" class="link icon-arrow-right"></a></li>
</ul>