<form action="#">
  <!--
      Переключение вида товаров происходит классами применяемыми к списку div.product-list
      pl_block - плитка
      pl_list -  список
      pl_table - таблицей
    -->
  <div class="w-view-type">
    {# класс .active выделяет ссылку #}
    <a href="javascript:;" class="item active"><i class="icon-vblock"></i></a>
    <a href="javascript:;" class="item"><i class="icon-vlist"></i></a>
    <a href="javascript:;" class="item"><i class="icon-vtable"></i></a>
  </div>

  <div class="w-view-quantity">
    <a href="javascript:;" class="item active"><span class="name">12</span></a>
    <a href="javascript:;" class="item"><span class="name">24</span></a>
    <a href="javascript:;" class="item"><span class="name">48</span></a>
    <a href="javascript:;" class="item"><span class="name">96</span></a>
  </div>

  <div class="w-sort-panel js-sorting js-switcher">

    {# класс .active выделяет ссылку #}
    <a href="#?" class="item active up">
      <span class="name">по популярности</span>
    </a>

    <a href="#?" class="item down">
      <span class="name">по алфавиту</span>
    </a>

    <a href="#?" class="item down">
      <span class="name">по цене</span>
    </a>
  </div>
</form>