<nav class="w-category-list">
  <ul class="list_unstyled catalog-links">
    <li class="item"><a href="catalog.html" class="link">Диск по металлу</a></li>
    <li class="item">
        <a href="catalog.html" class="link">Трубные хомуты</a>

        <ul class="list_unstyled sub">
            <li class="item"><a href="catalog.html" class="link">Стальные</a></li>
            <li class="item">
                <a href="catalog.html" class="link">Алюминевые</a>
                <ul class="list_unstyled sub">
                    <li class="item active"><a href="catalog.html" class="link">Для сантехники</a></li>
                    <li class="item"><a href="catalog.html" class="link">Для газовых труб</a></li>
                </ul>
            </li>
            <li class="item"><a href="catalog.html" class="link">Пластиковые</a></li>
        </ul>
    </li>
    <li class="item"><a href="catalog.html" class="link">Заклепки вытяжные</a></li>
    <li class="item"><a href="catalog.html" class="link">Анкер химический</a></li>
    <li class="item"><a href="catalog.html" class="link">Саморезы по дереву</a></li>
    <li class="item"><a href="catalog.html" class="link">Бур по бетону</a></li>
    <li class="item"><a href="catalog.html" class="link">Шурупы и саморезы</a></li>
    <li class="item"><a href="catalog.html" class="link">Шпилька резьбовая</a></li>
    <li class="item"><a href="catalog.html" class="link">Нержавеющий крепеж</a></li>
    <li class="item"><a href="catalog.html" class="link">Гибкие связи</a></li>
  </ul>
</nav>