<div class="w-filter-panel">
  <form action="#">
    <!-- фильтр слайдер -->
    {# Управление осуществляется переключением класса opening / closing #}
    <div class="filter-block filter-block_slider js-filter-block closing">
      <div class="title">Диаметр</div>
      <div class="list">
        <div class="widget-range js-widget-range">
          <div class="range-slider js-range-slider" data-range_min="3.5" data-rounding="0.5" data-range_max="100" data-cur_min="3.5" data-cur_max="14.8">
            <div class="bar"></div>
            <div class="grip-left"></div>
            <div class="grip-right"></div>
          </div>

          <div class="range-fields">
            от
            <input class="input-min" pattern="[0-9]{4}" maxlength="4" name="diameter-min" type="text" value="">
            до
            <input class="input-max" pattern="[0-9]{4}" maxlength="4" name="diameter-max" type="text" value="">
            мм
          </div>
        </div>
      </div>
    </div><!-- /filter-block -->

    <!-- фильтр слайдер -->
    <div class="filter-block filter-block_slider js-filter-block opening">
      <div class="title">Рабочая длинна</div>
      <div class="list">
        <div class="widget-range js-widget-range">
          <div class="range-slider js-range-slider" data-range_min="40" data-range_max="1200" data-cur_min="40" data-cur_max="1200">
            <div class="bar"></div>
            <div class="grip-left"></div>
            <div class="grip-right"></div>
          </div>

          <div class="range-fields">
            от
            <input class="input-min" pattern="[0-9]{4}" maxlength="4" name="work-length-min" type="text" value="">
            до
            <input class="input-max" pattern="[0-9]{4}" maxlength="4" name="work-length-max" type="text" value="">
            мм
          </div>
        </div>
      </div>
    </div><!-- /filter-block -->

    <!-- фильтр чекбоксов -->
    <div class="filter-block filter-block_check js-filter-block opening">
      <div class="title">Тип хвостовика и длинное название фильтра</div>
      <div class="list">
        <div class="checkbox item"><label><input type="checkbox" name="filter-stock" value="0" checked> SDS-Plus</label></div>
        <div class="checkbox item"><label><input type="checkbox" name="filter-stock" value="1" checked> SDS-Max</label></div>
        <div class="checkbox item"><label><input type="checkbox" name="filter-stock" value="2" checked> SDS-Quick</label></div>
      </div>
    </div><!-- /filter-block -->
  </form>
</div>