// Стравнение товаров
.compare__list.pl_block
  position relative
  margin-bottom 10px
  margin-left 270px

  .icon-delete
    position absolute
    top 10px
    right 10px

  // .arrow-right
  //   @extend .icon-slarr_right
  //   right -15px

  // .arrow-left
  //   @extend .icon-slarr_left
  //   left -15px

  // .arrow-right
  // .arrow-left
  //   position absolute
  //   z-index 999
  //   top 50%
  //   margin-top -15px

.compare__table
  margin-bottom 80px
  border-top 1px solid $shadow

  td
    border none
    font-size 13px
    border-bottom 1px solid $shadow

  .compare-name
    // width 270px

  .compare-data
    width 190px
    padding 8px 17px
