gradient(color, start, stop)
  background color
  background linear-gradient(to bottom,  start 0%, stop 100%)


gradient-hor(color, start, stop)
  background color
  background-image linear-gradient(to right, start, stop)
  background-repeat repeat-x


btn-var(color = $base-color)
  background-color color
  border-color color

  box-shadow 0 2px 0 darken(color, 15%)

  &.btn_sloped
    &:before
      top 2px
      border-color transparent darken(color, 15%) darken(color, 15%) transparent

    &:after
      border-color transparent color color transparent

  &.disabled
  &[disabled]
    opacity .65
    cursor default
    pointer-events none

  &:hover
  &:focus
    background-color darken(color, 10%)

    &.btn_sloped:after
      border-color transparent darken(color, 10%) darken(color, 10%) transparent


  &:active
    transition-duration 0
    top 1px
    box-shadow 0 1px 0 darken(color, 25%)
    background-color lighten(color, 10%)

    &.btn_sloped:after
      border-color transparent lighten(color, 10%) lighten(color, 10%) transparent

    &.btn_sloped:before
      top 1px





placeholder(color = $text-color, style = normal, font = $font-body)
  mixin()
    color color
    font-style style
    font-family font

  &::-webkit-input-placeholder
    mixin()
  &::-moz-placeholder
    mixin()
  &:-moz-placeholder
    mixin()
  &:-ms-input-placeholder
    mixin()


clearfix()
  &:before
  &:after
    content " "
    display table

  &:after
    clear both


clear-list()
  margin 0
  padding 0
  list-style none
  line-height normal

clearlist()
  clear-list()


size(width, height = null)
  width width
  if height
    height height
  else
    height width