//!  generated automatically!

//!  use:
//!    1. s-home()
//!    2. s-home(r) - resize
//!    3. s-home(p) - change of background position
//!    4. s-home(!important), -home(r, !important)


s-add-cart(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -76px -56px importance
    if r in arg
      width 17px importance
      height 14px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -76px -56px importance
    width 17px importance
    height 14px importance


s-arrow-down(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -104px -21px importance
    if r in arg
      width 21px importance
      height 21px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -104px -21px importance
    width 21px importance
    height 21px importance


s-arrow-up(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -104px 0px importance
    if r in arg
      width 21px importance
      height 21px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -104px 0px importance
    width 21px importance
    height 21px importance


s-arrow_l(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -93px -56px importance
    if r in arg
      width 9px importance
      height 10px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -93px -56px importance
    width 9px importance
    height 10px importance


s-arrow_r(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -60px -94px importance
    if r in arg
      width 9px importance
      height 10px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -60px -94px importance
    width 9px importance
    height 10px importance


s-bnew(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -76px 0px importance
    if r in arg
      width 28px importance
      height 28px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -76px 0px importance
    width 28px importance
    height 28px importance


s-bsale(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -76px -28px importance
    if r in arg
      width 28px importance
      height 28px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -76px -28px importance
    width 28px importance
    height 28px importance


s-bstar(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -32px -38px importance
    if r in arg
      width 28px importance
      height 28px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -32px -38px importance
    width 28px importance
    height 28px importance


s-cart_lg(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position 0px -38px importance
    if r in arg
      width 32px importance
      height 32px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat 0px -38px importance
    width 32px importance
    height 32px importance


s-compare(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -104px -59px importance
    if r in arg
      width 16px importance
      height 16px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -104px -59px importance
    width 16px importance
    height 16px importance


s-delete(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position 0px -94px importance
    if r in arg
      width 12px importance
      height 12px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat 0px -94px importance
    width 12px importance
    height 12px importance


s-fb(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position 0px 0px importance
    if r in arg
      width 38px importance
      height 38px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat 0px 0px importance
    width 38px importance
    height 38px importance


s-grip-left(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -60px -38px importance
    if r in arg
      width 9px importance
      height 19px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -60px -38px importance
    width 9px importance
    height 19px importance


s-grip-right(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -47px -70px importance
    if r in arg
      width 9px importance
      height 19px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -47px -70px importance
    width 9px importance
    height 19px importance


s-print(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -104px -42px importance
    if r in arg
      width 19px importance
      height 17px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -104px -42px importance
    width 19px importance
    height 17px importance


s-reload(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -24px -70px importance
    if r in arg
      width 23px importance
      height 20px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -24px -70px importance
    width 23px importance
    height 20px importance


s-sl-arrow_left(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -68px -70px importance
    if r in arg
      width 12px importance
      height 12px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -68px -70px importance
    width 12px importance
    height 12px importance


s-sl-arrow_right(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -12px -94px importance
    if r in arg
      width 12px importance
      height 12px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -12px -94px importance
    width 12px importance
    height 12px importance


s-tw(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -38px 0px importance
    if r in arg
      width 38px importance
      height 38px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -38px 0px importance
    width 38px importance
    height 38px importance


s-user(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -104px -75px importance
    if r in arg
      width 16px importance
      height 16px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -104px -75px importance
    width 16px importance
    height 16px importance


s-vblock(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -48px -94px importance
    if r in arg
      width 12px importance
      height 12px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -48px -94px importance
    width 12px importance
    height 12px importance


s-vblock_a(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -56px -70px importance
    if r in arg
      width 12px importance
      height 12px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -56px -70px importance
    width 12px importance
    height 12px importance


s-vlist(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -24px -94px importance
    if r in arg
      width 12px importance
      height 12px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -24px -94px importance
    width 12px importance
    height 12px importance


s-vlist_a(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -36px -94px importance
    if r in arg
      width 12px importance
      height 12px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -36px -94px importance
    width 12px importance
    height 12px importance


s-vtable(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -92px -70px importance
    if r in arg
      width 12px importance
      height 12px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -92px -70px importance
    width 12px importance
    height 12px importance


s-vtable_a(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -80px -70px importance
    if r in arg
      width 12px importance
      height 12px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat -80px -70px importance
    width 12px importance
    height 12px importance


s-zoom(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position 0px -70px importance
    if r in arg
      width 24px importance
      height 24px importance
  else
    display inline-block importance
    background url('../images/sprite.png') no-repeat 0px -70px importance
    width 24px importance
    height 24px importance


