.cart-table
  // margin-bottom 30px

  .table
    margin-bottom 30px
    border-top 2px solid $shadow
    border-bottom 1px solid $shadow
    width 100%

  td
    padding 13px 12px
    border none
    vertical-align middle
    border-bottom 1px solid $shadow

  .image
  .name
    vertical-align top

  .image
    padding-right 2px
    width 115px
    box-sizing border-box

    .link
      display inline-block
      background-color white
      border-bottom 1px solid $shadow

  .img
    width 100px

  .name
    // width 255px

    .link
      display block
      margin-bottom 5px
      font 500 14px/18px $custom
      text-decoration none

  .discount
  .price-one
    padding-left 30px
    padding-right 30px
    font-size 13px

  .price-one
    width 90px

  small
  .art
    font-size 11px

  .quantity
    width 100px

  .price-old
    color $second-color
    font-size 10px
    text-decoration line-through

  .price-total
    width 100px
    font 700 italic 19px/20px $custom

  .remove
    width 16px

.cart-total
  margin-bottom 60px
  text-align right

  .box-form
  .btn
  .price-total
    display inline-block
    vertical-align top
    text-align left

  .box-form
    position relative

  .btn
    margin-left 50px

  .price-total
    margin 0 40px 0 35px
    padding 0 8px
    width 120px
    text-align left
    font 700 italic 24px/32px $custom
    white-space nowrap

  .ok-mess
    line-height 32px

  .error-mess
    color #ff0000
    font-size 11px