{% extends 'base.html' %}


{# тайтл страницы #}
{% block title %}404 ошибка{% endblock %}


{# необязательный блок для подключения чего либо. Всталяет содерижимое перед закрывающимся head #}
{% block head %}{% endblock %}


{# содержимое области контента #}
{% block content %}

  <div class="content">

    {# хлебные крошки #}
    <ol class="breadcrumbs">
      <li><a href="main.html" class="link">Главная</a></li>
      <li class="active">404</li>
    </ol>

    <div class="error-box">
      <div class="numb">404</div>
      <div class="text-error">страница не найдена</div>
      <div>Попробуйте начать с <a href="main.html">главной страницы</a> или воспользуйтесь <a href="sitemap.html">картой сайта</a></div>
    </div>

    
  </div>
{% endblock %}


{# необязательный блок для поключения чего-то. Всталяет содерижимое перед закрывающимся body #}
{% block other %}{% endblock %}