{% extends 'base.html' %}


{# тайтл страницы #}
{% block title %}Шаблон{% endblock %}


{# необязательный блок для подключения чего либо. Всталяет содерижимое перед закрывающимся head #}
{% block head %}{% endblock %}


{# содержимое области контента #}
{% block content %}

  {# если колонка не нужна - можно ее удалить #}
  <div class="sidebar">
    {# Содержимое колонки #}
  </div>

  <div class="content">
    {# Содержимое контентной части #}
  </div>
{% endblock %}


{# необязательный блок для поключения чего-то. Всталяет содерижимое перед закрывающимся body #}
{% block other %}{% endblock %}