{% extends 'base.html' %}


{# тайтл страницы #}
{% block title %}Бренд{% endblock %}


{# необязательный блок для подключения чего либо. Всталяет содерижимое перед закрывающимся head #}
{% block head %}{% endblock %}


{# содержимое области контента #}
{% block content %}

  {# если колонка не нужна - можно ее удалить #}
  <div class="sidebar">

    {# список категорий #}
    {% include 'includes/w-product-brand.html' %}

  </div>

  <div class="content">

    {# хлебные крошки #}
    <ol class="breadcrumbs">
      <li><a href="main.html" class="link">Главная</a></li>
      <li class="active">Fisher</li>
    </ol>

    <div class="page-title">Fischer</div>

    <div class="mb20">
      <img src="assets/uploads/brand-fischer-big.png" alt="">
    </div>

    <div class="typography mb30">
      <p>Почему крепеж Fischer? Крепежные системы — это основа любых строительных, монтажных, ремонтных и прочих видов работ. Без крепежных элементов не обходится ни одна сфера жизни человека: от кухонной мебели и сантехники до автомобилей, небоскребов и самолетов. Именно поэтому надежности, безопасности и прочности таких, казалось бы, мелких и незаметных деталей необходимо придавать первостепенное значение.</p>
      <p>Крепежная техника Fischer уже давно заняла лидирующие позиции на мировом строительном рынке. Изделия Fischer имеют соответствующие сертификаты и неоднократно проходят пожарные, коррозийные и прочностные испытания.</p>
      <img src="assets/uploads/certificate.jpg" alt="certificate" align="left">
      <p>Немецкая компания Fischer предлагает готовые решения традиционных монтажных задач, позволяя при использовании высокоэффективного крепежа значительно сократить время и максимально увеличить качество работы.</p>
      <p>Ассортимент продукции включает в себя все виды крепежей для любых строительных, ремонтных и монтажных работ: крепеж общего назначения и рамный крепеж (универсальные и классические дюбели, шурупы и анкеры, в т.ч. для ДСП и газобетона); высокоэффективные анкеры (забивные, гвоздевые, для больших наг- рузок и пр.); системы крепления и инструменты для работы с пусто- телыми материалами (гипсокартон, плиты и пр.); крепежи для электро- монтажных работ и крепежи для сантехники; трубные хомуты и т. д.</p>
      <p>Строительные крепления от Fischer можно считать законодателями правил в строительном мире, так как именно этой компанией постоянно внедряются инновационные разработки. Механические и химические анкеры, рамные, тарельчатые и фасадные дюбели, болты и шурупы, хомуты, крепежи для электропроводки и прочие монтажные системы Fischer позволяют создавать надежное соединение с бетоном, природным камнем, различными видами кирпича, пенопластом, деревом и другими материалами.</p>
      <p>Выбирая Fischer, вы обеспечиваете долговечность и надежность монтажных работ.В нашей компании предоставлена следующая продукция фирмы FISCHER</p>
    </div>

    <div class="product-list pl_block mb60">

      <div class="product-item">
        <div class="product-item__wrap">
          <a class="image" href="catalog.html">
            <img class="img" alt="GOODS_NAME" src="assets/uploads/product-image-2-m.jpg">
          </a>
          <div class="title">
            <a class="link" href="catalog.html">Химические анкеры</a>
          </div>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item__wrap">
          <a class="image" href="catalog.html">
            <img class="img" alt="GOODS_NAME" src="assets/uploads/product-image-3-m.jpg">
          </a>
          <div class="title">
            <a class="link" href="catalog.html">Высокоэффективные стальные анкеры</a>
          </div>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item__wrap">
          <a class="image" href="catalog.html">
            <img class="img" alt="GOODS_NAME" src="assets/uploads/product-image-4-m.jpg">
          </a>
          <div class="title">
            <a class="link" href="catalog.html">Дюбели (Крепеж общего назначения)</a>
          </div>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item__wrap">
          <a class="image" href="catalog.html">
            <img class="img" alt="GOODS_NAME" src="assets/uploads/product-image-5-m.jpg">
          </a>
          <div class="title">
            <a class="link" href="catalog.html">Рамный и фасадный крепеж</a>
          </div>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item__wrap">
          <a class="image" href="catalog.html">
            <img class="img" alt="GOODS_NAME" src="assets/uploads/product-image-6-m.jpg">
          </a>
          <div class="title">
            <a class="link" href="catalog.html">Крепеж для монтажа в пустотелых материалах</a>
          </div>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item__wrap">
          <a class="image" href="catalog.html">
            <img class="img" alt="GOODS_NAME" src="assets/uploads/product-image-7-m.jpg">
          </a>
          <div class="title">
            <a class="link" href="catalog.html">Монтажные системы SaMontec</a>
          </div>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item__wrap">
          <a class="image" href="catalog.html">
            <img class="img" alt="GOODS_NAME" src="assets/uploads/product-image-8-m.jpg">
          </a>
          <div class="title">
            <a class="link" href="catalog.html">Крепеж для санузлов</a>
          </div>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item__wrap">
          <a class="image" href="catalog.html">
            <img class="img" alt="GOODS_NAME" src="assets/uploads/product-image-9-m.jpg">
          </a>
          <div class="title">
            <a class="link" href="catalog.html">Крепление термоизоляции</a>
          </div>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item__wrap">
          <a class="image" href="catalog.html">
            <img class="img" alt="GOODS_NAME" src="assets/uploads/product-image-10-m.jpg">
          </a>
          <div class="title">
            <a class="link" href="catalog.html">Монтажные пены и герметики</a>
          </div>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item__wrap">
          <a class="image" href="catalog.html">
            <img class="img" alt="GOODS_NAME" src="assets/uploads/product-image-11-m.jpg">
          </a>
          <div class="title">
            <a class="link" href="catalog.html">Буры и биты</a>
          </div>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item__wrap">
          <a class="image" href="catalog.html">
            <img class="img" alt="GOODS_NAME" src="assets/uploads/product-image-12-m.jpg">
          </a>
          <div class="title">
            <a class="link" href="catalog.html">Шурупы</a>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}


{# необязательный блок для поключения чего-то. Всталяет содерижимое перед закрывающимся body #}
{% block other %}{% endblock %}