{% extends 'base.html' %}


{# тайтл страницы #}
{% block title %}Корзина{% endblock %}


{# необязательный блок для подключения чего либо. Всталяет содерижимое перед закрывающимся head #}
{% block head %}{% endblock %}


{# содержимое области контента #}
{% block content %}

  <div class="content">

    {# хлебные крошки #}
    <ol class="breadcrumbs">
      <li><a href="main.html" class="link">Главная</a></li>
      <li class="active">Корзина</li>
    </ol>

    <div class="page-title">Корзина</div>

    <div class="cart-table clearfix">

      <table class="table">

        <tr class="js-calc">

          <td class="image">
            <a href="catalog-inner.html" class="link"><img src="assets/uploads/product-image-1-s.jpg" alt="" class="img"></a>
          </td>

          <td class="name">
            <a href="catalog-inner.html" class="link">Заклепки из алюминия для мягких материалов</a>
            <div class="art"><span class="note">Арт.</span>  G1881006410</div>
          </td>

          <td class="discount">
            <div>15%</div>
            <small>скидка</small>
          </td>

          <td class="price-one">
            <div><span class="js-price">2100</span> <span class="rub">Р</span> <sup class="price-old">2160</sup></div>
            <small>цена за упак.</small>
          </td>

          <td class="quantity">
            <div class="js-quantity">
              <div class="o-quantity">
                <span class="min">-</span>
                <input class="js-quantity-field" type="text" max="20" min="1" value="1" name="quantity1">
                <span class="max">+</span>
              </div>
            </div>
          </td>

          <td class="price-total">
            <span class="js-summ">2100</span> <span class="rub">Р</span>
          </td>

          <td class="remove">
            <a class="link link_delete" href="#?"></a>
          </td>
        </tr>


        <tr class="js-calc">

          <td class="image">
            <a href="catalog-inner.html" class="link"><img src="assets/uploads/product-image-2-s.jpg" alt="" class="img"></a>
          </td>

          <td class="name">
            <a href="catalog-inner.html" class="link">Заклепки из алюминия для мягких материалов</a>
            <div class="art"><span class="note">Арт.</span>  G1881006410</div>
          </td>

          <td class="discount">
            {# пусто #}
          </td>

          <td class="price-one">
            <div><span class="js-price">2200</span> <span class="rub">Р</span> <sup class="price-old">3560</sup></div>
            <small>цена за упак.</small>
          </td>

          <td class="quantity">
            <div class="js-quantity">
              <div class="o-quantity">
                <span class="min">-</span>
                <input class="js-quantity-field" type="text" max="20" min="1" value="1" name="quantity2">
                <span class="max">+</span>
              </div>
            </div>
          </td>

          <td class="price-total">
            <span class="js-summ">2200</span> <span class="rub">Р</span>
          </td>

          <td class="remove">
            <a class="link link_delete" href="#?"></a>
          </td>
        </tr>


        <tr class="js-calc">

          <td class="image">
            <a href="catalog-inner.html" class="link"><img src="assets/uploads/product-image-3-s.jpg" alt="" class="img"></a>
          </td>

          <td class="name">
            <a href="catalog-inner.html" class="link">Заклепки из алюминия для мягких материалов</a>
            <div class="art"><span class="note">Арт.</span>  G1881006410</div>
          </td>

          <td class="discount">
            {# пусто #}
          </td>

          <td class="price-one">
            <div><span class="js-price">3200</span> <span class="rub">Р</span> <sup class="price-old">3660</sup></div>
            <small>цена за упак.</small>
          </td>

          <td class="quantity">
            <div class="js-quantity">
              <div class="o-quantity">
                <span class="min">-</span>
                <input class="js-quantity-field" type="text" max="20" min="1" value="1" name="quantity3">
                <span class="max">+</span>
              </div>
            </div>
          </td>

          <td class="price-total">
            <span class="js-summ">3200</span> <span class="rub">Р</span>
          </td>

          <td class="remove">
            <a class="link link_delete" href="#?"></a>
          </td>
        </tr>
      </table>
    </div>

    <div class="cart-total">

      <div class="box-form">
        <form class="w-input-group w-input-group_sm coupon-form" action="#">
          <input type="text" name="coupon" placeholder="Номер купона на скидку">
          <button class="btn" type="submit">применить</button>

          {# сообщение, если купон не принят #}
          <div class="error-mess">Недействующий номер купона</div>
          {# сообщение, если купон не принят #}
        </form>

        {# сообщение, если купон принят. Функция discount #}
        <!--div class="ok-mess">Скидка успешно активирована</div-->
        {# сообщение, если купон принят. Функция discount #}


      </div>

      <a href="order-ent.html" class="btn btn_second" type="submit">оформить заказ</a>

      <div class="price-total js-cart-total"><span class="summ">7500</span> <span class="rub">Р</span></div>

    </div>


  </div>
{% endblock %}


{# необязательный блок для поключения чего-то. Всталяет содерижимое перед закрывающимся body #}
{% block other %}{% endblock %}