{% extends 'base.html' %}

{% block title %}Каталог товаров{% endblock %}

{% block content %}
  <div class="sidebar">
    {# список категорий #}
    {% include 'includes/w-product-category.html' %}

    {# Фильтр каталога #}
    {% include 'includes/w-product-filter.html' %}
  </div>

  <div class="content">

    {# хлебные крошки #}
    <ol class="breadcrumbs">
      <li><a href="main.html" class="link">Главная</a></li>
      <li class="active">Каталог</li>
    </ol>

    <div class="page-title">
      Бур по бетону
    </div>

    {% include 'includes/w-product-sort.html' %}

    <!--
      Переключение вида товаров происходит классами применяемыми к списку
      pl_block - плитка
      pl_list -  список
      pl_table - таблицей
    -->
    <div class="product-list pl_block {# или pl_list или pl_table #}">

      <!--
        Для товара, покупка которых осуществлется
        только через опции добавляем класс к элементу списка - product-item_opt
       -->
      {# блок с товаром #}
      <div class="product-item">
        <div class="product-item__wrap">
          <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
          <span class="bages">
            <i class="icon-sale"></i>
            <i class="icon-news"></i>
          </span>
          <a href="catalog-inner.html" class="image">
            <img src="assets/uploads/product-image-1-m.jpg" class="img" alt="GOODS_NAME">
          </a>

          {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
          <div class="caption">
            <div class="title">
              <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
              <span class="stock">Нет на складе</span>

              <a href="compare.html" class="compare-link">Сравнить</a>
            </div>

            <div class="spec">
              {# ID товара в href #}
              <a href="#spec-398" data-toggle="collapse" class="spec-link link_pseudo collapsed">Характеритики</a>
              <div id="spec-398" class="collapse fade">
                <div class="info">
                  Усовершенствованные вертикальные канавки обеспечивают быстрое удаление буровой муки и снижение времени сверления до 30%
                </div>

                <table class="table">
                  <tr>
                    <td>Диаметр</td>
                    <td>5 мм</td>
                  </tr>
                  <tr>
                    <td>Длина</td>
                    <td>110 мм</td>
                  </tr>
                  <tr>
                    <td>Рабочая длина</td>
                    <td>50 мм</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="actions">
            <div class="price">
              5120 <span class="rub">Р</span>
              <div class="note">за 1 шт.</div>
            </div>

            <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
          </div>
        </div>
      </div>


      <div class="product-item">
        <div class="product-item__wrap">
          <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
          <span class="bages">
            <i class="icon-sale"></i>
            <i class="icon-star"></i>
            <i class="icon-news"></i>
          </span>
          <a href="catalog-inner.html" class="image">
            <img src="assets/uploads/product-image-2-m.jpg" class="img" alt="GOODS_NAME">
          </a>

          <div class="caption">
            <div class="title">
              <a href="catalog-inner.html" class="link">Бур по бетону Fischer SDS Plus IV Quattric и очень длинное название заголовка</a>
              <span class="stock">Нет на складе</span>

              <a href="compare.html" class="compare-link">Сравнить</a>
            </div>

            <div class="spec">
              {# ID товара в href #}
              <a href="#spec-399" data-toggle="collapse" class="spec-link link_pseudo collapsed">Характеритики</a>
              <div id="spec-399" class="collapse fade">
                <div class="info">
                  Усовершенствованные вертикальные канавки обеспечивают быстрое удаление буровой муки и снижение времени сверления до 30%
                </div>

                <table class="table">
                  <tr>
                    <td>Диаметр</td>
                    <td>5 мм</td>
                  </tr>
                  <tr>
                    <td>Длина</td>
                    <td>110 мм</td>
                  </tr>
                  <tr>
                    <td>Рабочая длина</td>
                    <td>50 мм</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="actions">
            <div class="price">
              1250 <span class="rub">Р</span>
              <sup>1350</sup>
              <div class="note">за 1 шт.</div>
            </div>

            <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
          </div>
        </div>
      </div>

      {# Для товара, покупка котрых осуществлется только через опции добавляем модификатор #}
      <div class="product-item product-item_opt">
        <div class="product-item__wrap">
          <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
          <span class="bages">
            <i class="icon-star"></i>
          </span>
          <a href="catalog-inner.html" class="image">
            <img src="assets/uploads/product-image-2-m.jpg" class="img" alt="GOODS_NAME">
          </a>

          <div class="caption">
            <div class="title">
              <a href="catalog-inner.html" class="link">Товар с возможностью покупки только выбрав опцию</a>
              <span class="stock">Нет на складе</span>

              <a href="compare.html" class="compare-link">Сравнить</a>
            </div>

            <div class="spec">
              {# ID товара в href #}
              <a href="#spec-386" data-toggle="collapse" class="spec-link link_pseudo collapsed">Характеритики</a>
              <div id="spec-386" class="collapse fade">
                <div class="info">
                  Усовершенствованные вертикальные канавки обеспечивают быстрое удаление буровой муки и снижение времени сверления до 30%
                </div>

                <table class="table">
                  <tr>
                    <td>Диаметр</td>
                    <td>5 мм</td>
                  </tr>
                  <tr>
                    <td>Длина</td>
                    <td>110 мм</td>
                  </tr>
                  <tr>
                    <td>Рабочая длина</td>
                    <td>50 мм</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="actions">
            <div class="price">
              от 1250 <span class="rub">Р</span>
              <sup>1350</sup>
              <div class="note">за 1 шт.</div>
            </div>

            {# <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a> #}
          </div>
        </div>
      </div>


    </div>

  </div>

  <div class="paginate-wrapper align-center">
    {% include 'includes/w-pager.html' %}
  </div>
{% endblock %}