{% extends 'base.html' %}


{# тайтл страницы #}
{% block title %}Контакты{% endblock %}


{# необязательный блок для подключения чего либо. Всталяет содерижимое перед закрывающимся head #}
{% block head %}{% endblock %}


{# содержимое области контента #}
{% block content %}

  <div class="content">

    {# хлебные крошки #}
    <ol class="breadcrumbs">
      <li><a href="main.html" class="link">Главная</a></li>
      <li class="active">Контакты</li>
    </ol>

    <div class="page-title">Контакты</div>

    <div class="contacts clearfix">
      <div class="left">
        <div class="contact-block">
          <div class="title">телефоны</div>
          <a class="link" target="_blank" href="tel:+74955422284">+7 (495) 542-22-84</a>
          <a class="link" target="_blank" href="tel:+74959615199">+7 (495) 961-51-99</a>
        </div>
        <div class="contact-block">
          <div class="title">email</div>
          <a class="link link_email" target="_blank" href="mailto:info@pickup-komplekt.ru">info@pickup-komplekt.ru</a>
          <a class="link link_email" target="_blank" href="mailto:5422284@mail.ru">5422284@mail.ru</a>
        </div>
        <div class="contact-block">
          <div class="title">реквизиты</div>
          <div class="requisites">ООО «Пикап-комплект»<br>ОГРН 1117746320670<br>ИНН 7726675126</div>
        </div>
      </div>
      <div class="right">
        <div class="title">офис</div>
        <div class="info">
          <div class="box">Пн.-чт. 09:00—18:00<br>Пт. 09:00—17:00<br>сб.–вс. выходной</div>
          <div class="box box_last">117152, г.Москва, Севастопольский пр-кт, д.9, корп.2, помещение II, комната 4</div>
        </div>
        <div class="map-box" id="map"></div>
        <div class="title">склад</div>
        <div class="info">
          <div class="box">Склад отгружает по<br>рабочим дням с 09:00 до<br> 17:00, сб.–вс. выходной</div>
          <div class="box box_last">МО, г. Подольск, ул. Плещеевская, д. 11</div>
          <div>Как проехать: от МКАД по Варшавскому шоссе в сторону г. Подольска (примерно 15 км от МКАД) после ЖД переезда напротив автосалона KIA на светофоре под стрелочку налево, далее двигаемся до Т-образного перекрестка, главная уходит налево, а вы поворачиваете направо. 300 метров вперед и вы на месте. Территория «Эко-сервис».</div>
        </div>
        <div class="map-box" id="map_2"></div>
      </div>
    </div>

  </div>
{% endblock %}


{% block other %}
<script type="text/javascript" >
  $(document).ready(function() {
    // map
    (function () {
      var parent = $('.map-box');

      function map() {
        var myMap1,
          myMap2,
          myPlacemark1,
          myPlacemark2;

        function init() {
          myMap1 = new ymaps.Map('map', {
            center: [55.690785, 37.607996],
            zoom: 16
          });

          myPlacemark1 = new ymaps.Placemark([55.690785, 37.607996], {
            balloonContentBody: 'Севастопольский проспект, 9к2',
            hintContent: "Хинт метки"
          }, {
            preset: 'islands#redDotIcon'
          });

          myMap1.geoObjects.add(myPlacemark1);

          myMap1.hint.open(myMap1.getCenter(), 'Севастопольский проспект, 9к2', {
            // Опция: задержка перед открытием.
            showTimeout: 1000
          });


          myMap2 = new ymaps.Map('map_2', {
            center: [55.455979, 37.565695],
            zoom: 16
          });

          myPlacemark2 = new ymaps.Placemark([55.455979, 37.565695], {
            balloonContentBody: 'Пикап-Комплект Склад'
          }, {
            preset: 'islands#redDotIcon'
          });

          myMap2.geoObjects.add(myPlacemark2);

          myMap2.hint.open(myMap2.getCenter(), 'Пикап-Комплект Склад', {
            // Опция: задержка перед открытием.
            showTimeout: 1000
          });
        }

        ymaps.ready(init);


      }

      if (parent.length > 0) {
        return map();
      }
    }());
  });
</script>
{% endblock %}