{% extends 'base.html' %}


{# тайтл страницы #}
{% block title %}Личный кабинет История заказов{% endblock %}


{# необязательный блок для подключения чего либо. Всталяет содерижимое перед закрывающимся head #}
{% block head %}{% endblock %}


{# содержимое области контента #}
{% block content %}

  <div class="content">

    {# хлебные крошки #}
    <ol class="breadcrumbs">
      <li><a href="main.html" class="link">Главная</a></li>
      <li class="active">Личный кабинет — История заказов</li>
    </ol>

    <div class="page-title">Личный кабинет</div>

    <div class="private">
      <div class="private__menu">
        <ul class="list">
          <li class="item"><a href="private-info.html" class="link">информация</a></li>
          <li class="item"><a href="private-setting.html" class="link">Настройки</a></li>
          <li class="item"><a href="private-subs.html" class="link">Подписка</a></li>
          <li class="item active"><a href="private-history.html" class="link">История заказов</a></li>
          <li class="item"><a href="private-message.html" class="link">Сообщения</a></li>
        </ul>
      </div>

      <div class="private__page private__page_history">
        <div class="title">История заказов</div>

        {# list #}
        <div id="order-list" class="order-list">

          <div class="subtitle">2015</div>

          {# item #}
          <div class="order-item panel">

            <div data-target="#23456789" data-parent="#order-list" data-toggle="collapse" class="order-item__head collapsed">
              <div class="right">
                <a href="#?" class="cancel">Отменить заказ</a>
                <a href="#?" class="btn">Оплатить</a>
              </div>

              <span class="num"><strong>№ 23456789</strong></span>

              <span class="date">от 02.06.15</span>

              <span class="status"><span>статус:</span> принят, ожидает оплаты</span>
            </div>

            <div id="23456789" class="order-item__body collapse fade">
              <div class="order-detail">
                <div class="title">параметры</div>
                <table class="table">
                  <tr>
                    <td class="item">Название компании</td>
                    <td class="value">Энергомаш</td>
                  </tr>
                  <tr>
                    <td class="item">Организационно-правовая форма</td>
                    <td class="value">Открытое акционерное общество</td>
                  </tr>
                  <tr>
                    <td class="item">Юридический адрес</td>
                    <td class="value">МО, г. Дзержинский, ул. Бондарева, д. 122, оф. 500</td>
                  </tr>
                  <tr>
                    <td class="item">ИНН</td>
                    <td class="value">2345678900</td>
                  </tr>
                  <tr>
                    <td class="item">КПП</td>
                    <td class="value">234567890</td>
                  </tr>
                  <tr>
                    <td class="item">Контактное лицо</td>
                    <td class="value">Анатолий Иванович Константинопольский</td>
                  </tr>
                  <tr>
                    <td class="item">Email</td>
                    <td class="value">anatoliy@em.ru</td>
                  </tr>
                  <tr>
                    <td class="item">Телефон</td>
                    <td class="value">+7 (495) 234-56-78</td>
                  </tr>
                  <tr>
                    <td class="item">Факс</td>
                    <td class="value">+7 (495) 234-56-78</td>
                  </tr>
                  <tr>
                    <td class="item">Почтовый индекс</td>
                    <td class="value"> </td>
                  </tr>
                  <tr class="border">
                    <td class="item">Адрес доставки</td>
                    <td class="value">МО, г. Дзержинский, ул. Бондарева, д. 122, оф. 500</td>
                  </tr>
                </table>

                <div class="title">Оплата и доставка</div>
                <table class="table">
                  <tr>
                    <td class="item">Доставка</td>
                    <td class="value">Курьером</td>
                  </tr>
                  <tr>
                    <td class="item">Оплата</td>
                    <td class="value">Банковским переводом</td>
                  </tr>
                </table>

                <div class="title">Состав заказа</div>
                <table class="table table_consist">
                  <tr>
                    <td class="item item_name">
                      <a href="" class="link">Заклепки из алюминия для мягких материалов</a>
                      <div class="art"><span>Арт.</span> G1881006410</div>
                    </td>
                    <td class="item item_amount">1 упак.</td>
                    <td class="item item_summ">2000 <span class="rub">Р</span></td>
                  </tr>
                  <tr>
                    <td class="item item_name">
                      <a href="" class="link">Хомут MP-HI 8-12 M8/M10</a>
                      <div class="art"><span>Арт.</span> H1881006111</div>
                    </td>
                    <td class="item item_amount">5 шт.</td>
                    <td class="item item_summ">510 <span class="rub">Р</span></td>
                  </tr>
                  <tr>
                    <td class="item item_name">
                      <a href="" class="link">Бур по бетону Bosch S4L SDS-plus</a>
                      <div class="art"><span>Арт.</span> B1951028419</div>
                    </td>
                    <td class="item item_amount">2 упак.</td>
                    <td class="item item_summ">2600 <span class="rub">Р</span></td>
                  </tr>
                  <tr class="total">
                    <td class="item" colspan="3">
                      <span class="item_weight">Общий вес: <strong>15 кг</strong></span>
                      <span class="item_delivery">Доставка:  <strong>1000 <span class="rub">Р</span></strong></span>
                      <span class="item_total-summ">Итого с доставкой: <strong><span class="total-summ">5110</span> <span class="rub">Р</span></strong></span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
          {# item #}

          {# item #}
          <div class="order-item panel">
            <div data-target="#23456772" data-parent="#order-list" data-toggle="collapse" class="order-item__head collapsed">
              <div class="right">
                <a href="" class="cancel">Отменить заказ</a>
              </div>
              <span class="num"><strong>№ 23456772</strong></span>
              <span class="date">от 09.05.15</span>
              <span class="status"><span>статус:</span> доставляется</span>
            </div>

            <div id="23456772" class="order-item__body collapse fade">
              <div class="order-detail">
                <div class="title">параметры</div>
                <table class="table">
                  <tr>
                    <td class="item">Название компании</td>
                    <td class="value">Энергомаш</td>
                  </tr>
                  <tr>
                    <td class="item">Организационно-правовая форма</td>
                    <td class="value">Открытое акционерное общество</td>
                  </tr>
                  <tr>
                    <td class="item">Юридический адрес</td>
                    <td class="value">МО, г. Дзержинский, ул. Бондарева, д. 122, оф. 500</td>
                  </tr>
                  <tr>
                    <td class="item">ИНН</td>
                    <td class="value">2345678900</td>
                  </tr>
                  <tr>
                    <td class="item">КПП</td>
                    <td class="value">234567890</td>
                  </tr>
                  <tr>
                    <td class="item">Контактное лицо</td>
                    <td class="value">Анатолий Иванович Константинопольский</td>
                  </tr>
                  <tr>
                    <td class="item">Email</td>
                    <td class="value">anatoliy@em.ru</td>
                  </tr>
                  <tr>
                    <td class="item">Телефон</td>
                    <td class="value">+7 (495) 234-56-78</td>
                  </tr>
                  <tr>
                    <td class="item">Факс</td>
                    <td class="value">+7 (495) 234-56-78</td>
                  </tr>
                  <tr>
                    <td class="item">Почтовый индекс</td>
                    <td class="value"> </td>
                  </tr>
                  <tr class="border">
                    <td class="item">Адрес доставки</td>
                    <td class="value">МО, г. Дзержинский, ул. Бондарева, д. 122, оф. 500</td>
                  </tr>
                </table>

                <div class="title">Оплата и доставка</div>
                <table class="table">
                  <tr>
                    <td class="item">Доставка</td>
                    <td class="value">Курьером</td>
                  </tr>
                  <tr>
                    <td class="item">Оплата</td>
                    <td class="value">Банковским переводом</td>
                  </tr>
                </table>

                <div class="title">Состав заказа</div>
                <table class="table table_consist">
                  <tr>
                    <td class="item item_name">
                      <a href="" class="link">Заклепки из алюминия для мягких материалов</a>
                      <div class="art"><span>Арт.</span> G1881006410</div>
                    </td>
                    <td class="item item_amount">1 упак.</td>
                    <td class="item item_summ">2000 <span class="rub">Р</span></td>
                  </tr>
                  <tr>
                    <td class="item item_name">
                      <a href="" class="link">Хомут MP-HI 8-12 M8/M10</a>
                      <div class="art"><span>Арт.</span> H1881006111</div>
                    </td>
                    <td class="item item_amount">5 шт.</td>
                    <td class="item item_summ">510 <span class="rub">Р</span></td>
                  </tr>
                  <tr>
                    <td class="item item_name">
                      <a href="" class="link">Бур по бетону Bosch S4L SDS-plus</a>
                      <div class="art"><span>Арт.</span> B1951028419</div>
                    </td>
                    <td class="item item_amount">2 упак.</td>
                    <td class="item item_summ">2600 <span class="rub">Р</span></td>
                  </tr>
                  <tr class="total">
                    <td class="item" colspan="3">
                      <span class="item_weight">Общий вес: <strong>15 кг</strong></span>
                      <span class="item_delivery">Доставка:  <strong>1000 <span class="rub">Р</span></strong></span>
                      <span class="item_total-summ">Итого с доставкой: <strong><span class="total-summ">5110</span> <span class="rub">Р</span></strong></span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          {# item #}

          {# item #}
          <div class="order-item panel">
            <div data-target="#23456715" data-parent="#order-list" data-toggle="collapse" class="order-item__head collapsed">
              <span class="num"><strong>№ 23456715</strong></span>
              <span class="date">от 24.04.15</span>
              <span class="status"><span>статус:</span> выполнен</span>
            </div>

            <div id="23456715" class="order-item__body collapse fade">
              <div class="order-detail">
              <div class="title">параметры</div>
              <table class="table">
                <tr>
                  <td class="item">Название компании</td>
                  <td class="value">Энергомаш</td>
                </tr>
                <tr>
                  <td class="item">Организационно-правовая форма</td>
                  <td class="value">Открытое акционерное общество</td>
                </tr>
                <tr>
                  <td class="item">Юридический адрес</td>
                  <td class="value">МО, г. Дзержинский, ул. Бондарева, д. 122, оф. 500</td>
                </tr>
                <tr>
                  <td class="item">ИНН</td>
                  <td class="value">2345678900</td>
                </tr>
                <tr>
                  <td class="item">КПП</td>
                  <td class="value">234567890</td>
                </tr>
                <tr>
                  <td class="item">Контактное лицо</td>
                  <td class="value">Анатолий Иванович Константинопольский</td>
                </tr>
                <tr>
                  <td class="item">Email</td>
                  <td class="value">anatoliy@em.ru</td>
                </tr>
                <tr>
                  <td class="item">Телефон</td>
                  <td class="value">+7 (495) 234-56-78</td>
                </tr>
                <tr>
                  <td class="item">Факс</td>
                  <td class="value">+7 (495) 234-56-78</td>
                </tr>
                <tr>
                  <td class="item">Почтовый индекс</td>
                  <td class="value"> </td>
                </tr>
                <tr class="border">
                  <td class="item">Адрес доставки</td>
                  <td class="value">МО, г. Дзержинский, ул. Бондарева, д. 122, оф. 500</td>
                </tr>
              </table>

              <div class="title">Оплата и доставка</div>
              <table class="table">
                <tr>
                  <td class="item">Доставка</td>
                  <td class="value">Курьером</td>
                </tr>
                <tr>
                  <td class="item">Оплата</td>
                  <td class="value">Банковским переводом</td>
                </tr>
              </table>

              <div class="title">Состав заказа</div>
              <table class="table table_consist">
                <tr>
                  <td class="item item_name">
                    <a href="" class="link">Заклепки из алюминия для мягких материалов</a>
                    <div class="art"><span>Арт.</span> G1881006410</div>
                  </td>
                  <td class="item item_amount">1 упак.</td>
                  <td class="item item_summ">2000 <span class="rub">Р</span></td>
                </tr>
                <tr>
                  <td class="item item_name">
                    <a href="" class="link">Хомут MP-HI 8-12 M8/M10</a>
                    <div class="art"><span>Арт.</span> H1881006111</div>
                  </td>
                  <td class="item item_amount">5 шт.</td>
                  <td class="item item_summ">510 <span class="rub">Р</span></td>
                </tr>
                <tr>
                  <td class="item item_name">
                    <a href="" class="link">Бур по бетону Bosch S4L SDS-plus</a>
                    <div class="art"><span>Арт.</span> B1951028419</div>
                  </td>
                  <td class="item item_amount">2 упак.</td>
                  <td class="item item_summ">2600 <span class="rub">Р</span></td>
                </tr>
                <tr class="total">
                  <td class="item" colspan="3">
                    <span class="item_weight">Общий вес: <strong>15 кг</strong></span>
                    <span class="item_delivery">Доставка:  <strong>1000 <span class="rub">Р</span></strong></span>
                    <span class="item_total-summ">Итого с доставкой: <strong><span class="total-summ">5110</span> <span class="rub">Р</span></strong></span>
                  </td>
                </tr>
              </table>
              </div>
            </div>
          </div>
          {# item #}



          <div class="subtitle">2014</div>

          {# item #}
          <div class="order-item panel">
            <div data-target="#23456720" data-parent="#order-list" data-toggle="collapse" class="order-item__head collapsed">
              <span class="num"><strong>№ 23456720</strong></span>
              <span class="date">от 24.04.15</span>
              <span class="status"><span>статус:</span> выполнен</span>
            </div>

            <div id="23456720" class="order-item__body collapse fade">
              <div class="order-detail">
              <div class="title">параметры</div>
              <table class="table">
                <tr>
                  <td class="item">Название компании</td>
                  <td class="value">Энергомаш</td>
                </tr>
                <tr>
                  <td class="item">Организационно-правовая форма</td>
                  <td class="value">Открытое акционерное общество</td>
                </tr>
                <tr>
                  <td class="item">Юридический адрес</td>
                  <td class="value">МО, г. Дзержинский, ул. Бондарева, д. 122, оф. 500</td>
                </tr>
                <tr>
                  <td class="item">ИНН</td>
                  <td class="value">2345678900</td>
                </tr>
                <tr>
                  <td class="item">КПП</td>
                  <td class="value">234567890</td>
                </tr>
                <tr>
                  <td class="item">Контактное лицо</td>
                  <td class="value">Анатолий Иванович Константинопольский</td>
                </tr>
                <tr>
                  <td class="item">Email</td>
                  <td class="value">anatoliy@em.ru</td>
                </tr>
                <tr>
                  <td class="item">Телефон</td>
                  <td class="value">+7 (495) 234-56-78</td>
                </tr>
                <tr>
                  <td class="item">Факс</td>
                  <td class="value">+7 (495) 234-56-78</td>
                </tr>
                <tr>
                  <td class="item">Почтовый индекс</td>
                  <td class="value"> </td>
                </tr>
                <tr class="border">
                  <td class="item">Адрес доставки</td>
                  <td class="value">МО, г. Дзержинский, ул. Бондарева, д. 122, оф. 500</td>
                </tr>
              </table>

              <div class="title">Оплата и доставка</div>
              <table class="table">
                <tr>
                  <td class="item">Доставка</td>
                  <td class="value">Курьером</td>
                </tr>
                <tr>
                  <td class="item">Оплата</td>
                  <td class="value">Банковским переводом</td>
                </tr>
              </table>

              <div class="title">Состав заказа</div>
              <table class="table table_consist">
                <tr>
                  <td class="item item_name">
                    <a href="" class="link">Заклепки из алюминия для мягких материалов</a>
                    <div class="art"><span>Арт.</span> G1881006410</div>
                  </td>
                  <td class="item item_amount">1 упак.</td>
                  <td class="item item_summ">2000 <span class="rub">Р</span></td>
                </tr>
                <tr>
                  <td class="item item_name">
                    <a href="" class="link">Хомут MP-HI 8-12 M8/M10</a>
                    <div class="art"><span>Арт.</span> H1881006111</div>
                  </td>
                  <td class="item item_amount">5 шт.</td>
                  <td class="item item_summ">510 <span class="rub">Р</span></td>
                </tr>
                <tr>
                  <td class="item item_name">
                    <a href="" class="link">Бур по бетону Bosch S4L SDS-plus</a>
                    <div class="art"><span>Арт.</span> B1951028419</div>
                  </td>
                  <td class="item item_amount">2 упак.</td>
                  <td class="item item_summ">2600 <span class="rub">Р</span></td>
                </tr>
                <tr class="total">
                  <td class="item" colspan="3">
                    <span class="item_weight">Общий вес: <strong>15 кг</strong></span>
                    <span class="item_delivery">Доставка:  <strong>1000 <span class="rub">Р</span></strong></span>
                    <span class="item_total-summ">Итого с доставкой: <strong><span class="total-summ">5110</span> <span class="rub">Р</span></strong></span>
                  </td>
                </tr>
              </table>
              </div>
            </div>
          </div>
          {# item #}

          {# item #}
          <div class="order-item panel">
            <div data-target="#23456732" data-parent="#order-list" data-toggle="collapse" class="order-item__head collapsed">
              <span class="num"><strong>№ 23456732</strong></span>
              <span class="date">от 24.04.15</span>
              <span class="status"><span>статус:</span> выполнен</span>
            </div>
            <div id="23456732" class="order-item__body collapse fade">
              <div class="order-detail">
              <div class="title">параметры</div>
              <table class="table">
                <tr>
                  <td class="item">Название компании</td>
                  <td class="value">Энергомаш</td>
                </tr>
                <tr>
                  <td class="item">Организационно-правовая форма</td>
                  <td class="value">Открытое акционерное общество</td>
                </tr>
                <tr>
                  <td class="item">Юридический адрес</td>
                  <td class="value">МО, г. Дзержинский, ул. Бондарева, д. 122, оф. 500</td>
                </tr>
                <tr>
                  <td class="item">ИНН</td>
                  <td class="value">2345678900</td>
                </tr>
                <tr>
                  <td class="item">КПП</td>
                  <td class="value">234567890</td>
                </tr>
                <tr>
                  <td class="item">Контактное лицо</td>
                  <td class="value">Анатолий Иванович Константинопольский</td>
                </tr>
                <tr>
                  <td class="item">Email</td>
                  <td class="value">anatoliy@em.ru</td>
                </tr>
                <tr>
                  <td class="item">Телефон</td>
                  <td class="value">+7 (495) 234-56-78</td>
                </tr>
                <tr>
                  <td class="item">Факс</td>
                  <td class="value">+7 (495) 234-56-78</td>
                </tr>
                <tr>
                  <td class="item">Почтовый индекс</td>
                  <td class="value"> </td>
                </tr>
                <tr class="border">
                  <td class="item">Адрес доставки</td>
                  <td class="value">МО, г. Дзержинский, ул. Бондарева, д. 122, оф. 500</td>
                </tr>
              </table>

              <div class="title">Оплата и доставка</div>
              <table class="table">
                <tr>
                  <td class="item">Доставка</td>
                  <td class="value">Курьером</td>
                </tr>
                <tr>
                  <td class="item">Оплата</td>
                  <td class="value">Банковским переводом</td>
                </tr>
              </table>

              <div class="title">Состав заказа</div>
              <table class="table table_consist">
                <tr>
                  <td class="item item_name">
                    <a href="" class="link">Заклепки из алюминия для мягких материалов</a>
                    <div class="art"><span>Арт.</span> G1881006410</div>
                  </td>
                  <td class="item item_amount">1 упак.</td>
                  <td class="item item_summ">2000 <span class="rub">Р</span></td>
                </tr>
                <tr>
                  <td class="item item_name">
                    <a href="" class="link">Хомут MP-HI 8-12 M8/M10</a>
                    <div class="art"><span>Арт.</span> H1881006111</div>
                  </td>
                  <td class="item item_amount">5 шт.</td>
                  <td class="item item_summ">510 <span class="rub">Р</span></td>
                </tr>
                <tr>
                  <td class="item item_name">
                    <a href="" class="link">Бур по бетону Bosch S4L SDS-plus</a>
                    <div class="art"><span>Арт.</span> B1951028419</div>
                  </td>
                  <td class="item item_amount">2 упак.</td>
                  <td class="item item_summ">2600 <span class="rub">Р</span></td>
                </tr>
                <tr class="total">
                  <td class="item" colspan="3">
                    <span class="item_weight">Общий вес: <strong>15 кг</strong></span>
                    <span class="item_delivery">Доставка:  <strong>1000 <span class="rub">Р</span></strong></span>
                    <span class="item_total-summ">Итого с доставкой: <strong><span class="total-summ">5110</span> <span class="rub">Р</span></strong></span>
                  </td>
                </tr>

              </table>
              </div>
            </div>
          </div>
          {# item #}

        </div>
        {# list #}

      </div>
    </div>
  </div>
{% endblock %}
