{% extends 'base.html' %}


{# тайтл страницы #}
{% block title %}Личный кабинет Настройки{% endblock %}


{# необязательный блок для подключения чего либо. Всталяет содерижимое перед закрывающимся head #}
{% block head %}{% endblock %}


{# содержимое области контента #}
{% block content %}

  <div class="content">

    {# хлебные крошки #}
    <ol class="breadcrumbs">
      <li><a href="main.html" class="link">Главная</a></li>
      <li class="active">Личный кабинет — Настройки</li>
    </ol>

    <div class="page-title">Личный кабинет</div>

    <div class="private">
      <div class="private__menu">
        <ul class="list">
          <li class="item"><a href="private-info.html" class="link">информация</a></li>
          <li class="item active"><a href="private-setting.html" class="link">Настройки</a></li>
          <li class="item"><a href="private-subs.html" class="link">Подписка</a></li>
          <li class="item"><a href="private-history.html" class="link">История заказов</a></li>
          <li class="item"><a href="private-message.html" class="link">Сообщения</a></li>
        </ul>
      </div>

      <div class="private__page private__page_setings">
        <div class="title">Настройки</div>

        <div class="form-group choice-block js-choice-type">
          <label class="field radio">
            <input type="radio" name="type">
            Физическое лицо
          </label>

          <label class="field radio">
            <input type="radio" name="type" checked>
            Юридическое лицо
          </label>
        </div>


        <form action="" class="form-settings">
          <div class="form-group">
            <label>Название компании</label>
            <input type="text" class="form-control" value="Энергомаш">
          </div>

          <div class="form-group form-group_type">
            <label>Организационно-правовая форма</label>
            <select class="form-control">
              <option>Открытое акционерное общество</option>
              <option>Закрытое акционерное общество</option>
            </select>
          </div>

          <div class="form-group">
            <label>Юридический адрес</label>
            <textarea class="form-control" rows="5">МО, г. Дзержинский, ул. Бондарева, д. 122, оф. 500</textarea>
          </div>

          <div class="form-inline">
            <div class="form-group form-group_inn">
              <label>ИНН</label>
              <input type="text" class="form-control" value="2345678900">
            </div>
            <div class="form-group form-group_inn">
              <label>КПП</label>
              <input type="text" class="form-control" value="234567890">
            </div>
          </div>

          <div class="form-group">
            <label>Контактное лицо</label>
            <input type="text" class="form-control" value="Анатолий Иванович Константинопольский">
          </div>


          <div class="form-inline">
            <div class="form-group form-group_email">
              <label>Email</label>
              <input type="text" class="form-control" value="anatoliy@em.ru">
            </div>

            <div class="form-group form-group_phone">
              <label>Телефон</label>
              <input type="text" class="form-control" value="+7 (495) 234-56-78">
            </div>

            <div class="form-group form-group_phone">
              <label>Факс</label>
              <input type="text" class="form-control" value="+7 (495) 234-56-78">
            </div>
          </div>

          <div class="form-group form-group_zip">
            <label>Почтовый индекс</label>
            <input type="text" class="form-control" value="">
          </div>

          <div class="form-group">
            <label>Адрес доставки</label>
            <textarea  class="form-control" rows="5">МО, г. Дзержинский, ул. Бондарева, д. 122, оф. 500</textarea>
          </div>

          <div class="form-group action">
            <input type="submit" class="btn btn_second" value="Сохранить">
          </div>
        </form>


        <form action="" class="form-password">
          <div class="title">смена пароля</div>

          <div class="form-group form-group_pass">
            <label>Текущий пароль</label>
            <input type="password" class="form-control" value="">
          </div>

          <div class="form-inline">
            <div class="form-group form-group_pass">
              <label>Новый пароль</label>
              <input type="password" class="form-control" value="">
            </div>

            <div class="form-group form-group_pass">
              <label>Повторите пароль</label>
              <input type="password" class="form-control" value="">
            </div>
          </div>

          <div class="form-group action">
            <input type="submit" class="btn btn_second" value="Сохранить">
          </div>
        </form>

      </div>
    </div>
  </div>
{% endblock %}


{# необязательный блок для поключения чего-то. Всталяет содерижимое перед закрывающимся body #}
{% block other %}
  <script type="text/javascript">
  $('.js-choice-type input:radio').on('ifChecked', function (event) {
    console.log('Меняем форму для физ или юр лиц');
  });
</script>
{% endblock %}