{% extends 'base.html' %}


{# тайтл страницы #}
{% block title %}Личный кабинет Сообщения{% endblock %}


{# необязательный блок для подключения чего либо. Всталяет содерижимое перед закрывающимся head #}
{% block head %}{% endblock %}


{# содержимое области контента #}
{% block content %}

  <div class="content">

    {# хлебные крошки #}
    <ol class="breadcrumbs">
      <li><a href="main.html" class="link">Главная</a></li>
      <li class="active">Личный кабинет — Сообщения</li>
    </ol>

    <div class="page-title">Личный кабинет</div>

    <div class="private clearfix">
      <div class="private__menu">
        <ul class="list">
          <li class="item"><a href="private-info.html" class="link">информация</a></li>
          <li class="item"><a href="private-setting.html" class="link">Настройки</a></li>
          <li class="item"><a href="private-subs.html" class="link">Подписка</a></li>
          <li class="item"><a href="private-history.html" class="link">История заказов</a></li>
          <li class="item active"><a href="private-message.html" class="link">Сообщения</a></li>
        </ul>
      </div>

      <div class="private__page private__page_messages">
        <div class="title">Сообщения</div>

        <form action="" class="form-messages">
          <div class="form-group">
            <label>Вопрос или сообщение администраци сайта</label>
            <textarea class="form-control" rows="5"></textarea>
          </div>

          <div class="form-group action">
            <input type="submit" class="btn btn_second" value="Отправить">
          </div>
        </form>

      </div>
    </div>
  </div>
{% endblock %}


{# необязательный блок для поключения чего-то. Всталяет содерижимое перед закрывающимся body #}
{% block other %}
{% endblock %}