{% extends 'base.html' %}


{# тайтл страницы #}
{% block title %}Личный кабинет Информация{% endblock %}


{# содержимое области контента #}
{% block content %}

  <div class="content">

    {# хлебные крошки #}
    <ol class="breadcrumbs">
      <li><a href="main.html" class="link">Главная</a></li>
      <li class="active">Личный кабинет — Информация</li>
    </ol>

    <div class="page-title">Личный кабинет</div>

    <div class="private clearfix">
      <div class="private__menu">
        <ul class="list">
          <li class="item active"><a href="private-info.html" class="link">информация</a></li>
          <li class="item"><a href="private-setting.html" class="link">Настройки</a></li>
          <li class="item"><a href="private-subs.html" class="link">Подписка</a></li>
          <li class="item"><a href="private-history.html" class="link">История заказов</a></li>
          <li class="item"><a href="private-message.html" class="link">Сообщения</a></li>
        </ul>
      </div>

      <div class="private__page private__page_info">
        <div class="title">информация</div>

        <table class="table">
          <tr>
            <td class="item">Ваша скидка</td>
            <td class="value discount bold">15%</td>
          </tr>
          <tr class="border">
            <td class="item bold" colspan="2">Юридическое лицо</td>
          </tr>
          <tr>
            <td class="item">Название компании</td>
            <td class="value">Энергомаш</td>
          </tr>
          <tr>
            <td class="item">Организационно-правовая форма</td>
            <td class="value">Открытое акционерное общество</td>
          </tr>
          <tr>
            <td class="item">Юридический адрес</td>
            <td class="value">МО, г. Дзержинский, ул. Бондарева, д. 122, оф. 500</td>
          </tr>
          <tr>
            <td class="item">ИНН</td>
            <td class="value">2345678900</td>
          </tr>
          <tr>
            <td class="item">КПП</td>
            <td class="value">234567890</td>
          </tr>
          <tr>
            <td class="item">Контактное лицо</td>
            <td class="value">Анатолий Иванович Константинопольский</td>
          </tr>
          <tr>
            <td class="item">Email</td>
            <td class="value">anatoliy@em.ru</td>
          </tr>
          <tr>
            <td class="item">Телефон</td>
            <td class="value">+7 (495) 234-56-78</td>
          </tr>
          <tr>
            <td class="item">Факс</td>
            <td class="value">+7 (495) 234-56-78</td>
          </tr>
          <tr>
            <td class="item">Почтовый индекс</td>
            <td class="value"> </td>
          </tr>
          <tr class="border">
            <td class="item">Адрес доставки</td>
            <td class="value">МО, г. Дзержинский, ул. Бондарева, д. 122, оф. 500</td>
          </tr>
        </table>

        <div class="action">
          <a href="private-setting.html" class="btn btn_second">редактировать</a>
        </div>

      </div>
    </div>
  </div>
{% endblock %}


{# необязательный блок для поключения чего-то. Всталяет содерижимое перед закрывающимся body #}
{% block other %}
{% endblock %}