{% extends 'base.html' %}


{# тайтл страницы #}
{% block title %}Личный кабинет Подписка{% endblock %}

{# содержимое области контента #}
{% block content %}

  <div class="content">

    {# хлебные крошки #}
    <ol class="breadcrumbs">
      <li><a href="main.html" class="link">Главная</a></li>
      <li class="active">Личный кабинет — Подписка</li>
    </ol>

    <div class="page-title">Личный кабинет</div>

    <div class="private clearfix">
      <div class="private__menu">
        <ul class="list">
          <li class="item"><a href="private-info.html" class="link">информация</a></li>
          <li class="item"><a href="private-setting.html" class="link">Настройки</a></li>
          <li class="item active"><a href="private-subs.html" class="link">Подписка</a></li>
          <li class="item"><a href="private-history.html" class="link">История заказов</a></li>
          <li class="item"><a href="private-message.html" class="link">Сообщения</a></li>
        </ul>
      </div>

      <div class="private__page private__page_subs">
        <div class="title">Подписка</div>

        <!-- если еще не подписан -->
        <div class="subscribe-message">Подписка позволит вам быть в курсе наших новостей, акций и свежих поступлений в каталоге</div>

        <form action="#" class="form-subscribe">
          <div class="w-input-group">
            <input type="text" placeholder="Ваш email" name="subscribe">
            <button class="btn btn_second" type="submit">ок</button>
          </div>
        </form>

        <!-- Если нужно отписаться -->
        <div class="subscribe-message">Вы подписаны на обновления на сайте</div>

        <form action="#" class="form-subscribe">
          <button class="btn btn_second" type="submit">отписаться</button>
        </form>

      </div>
    </div>
  </div>
{% endblock %}
