{% extends 'base.html' %}

{# тайтл страницы #}
{% block title %}Результаты поиска{% endblock %}

{# содержимое области контента #}
{% block content %}

  <div class="content">

    <ol class="breadcrumbs">
      <li><a href="main.html" class="link">Главная</a></li>
      <li class="active">Результаты поиска</li>
    </ol>

    <div class="page-title">Результаты поиска</div>

    <div class="w-search w-search__results">
      <form action="#">
        <input type="search" placeholder="Поиск по наименованию, производителю" value="Fischer" name="search">
        <button class="btn btn_second btn_sloped" type="submit">Найти</button>
      </form>

      <div class="message">
        <strong>23 результата</strong>

        {# если нет результатов #}
        {# <strong>Ничего не найдено.</strong> Попробуйте изменить поисковый запрос #}
      </div>
    </div>

    <div class="product-list pl_block">
      {# блок с товаром #}
      <div class="product-item">
        <div class="product-item__wrap">
          <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
          <a href="catalog-inner.html" class="image">
            <img src="assets/uploads/product-image-1-m.jpg" class="img" alt="GOODS_NAME">
          </a>

          {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
          <div class="caption">
            <div class="title">
              <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
              <span class="stock">Нет на складе</span>

              <a href="compare.html" class="compare-link">Сравнить</a>
            </div>

            <div class="spec">
              {# ID товара в href #}
              <a href="#spec-398" data-toggle="collapse" class="spec-link link_pseudo collapsed">Характеритики</a>
              <div id="spec-398" class="collapse fade">
                <div class="info">
                  Усовершенствованные вертикальные канавки обеспечивают быстрое удаление буровой муки и снижение времени сверления до 30%
                </div>

                <table class="table">
                  <tr>
                    <td>Диаметр</td>
                    <td>5 мм</td>
                  </tr>
                  <tr>
                    <td>Длина</td>
                    <td>110 мм</td>
                  </tr>
                  <tr>
                    <td>Рабочая длина</td>
                    <td>50 мм</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="actions">
            <div class="price">
              5120 <span class="rub">Р</span>
              <div class="note">за 1 шт.</div>
            </div>

            <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
          </div>
        </div>
      </div>

      {# блок с товаром #}
      <div class="product-item">
        <div class="product-item__wrap">
          <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
          <a href="catalog-inner.html" class="image">
            <img src="assets/uploads/product-image-1-m.jpg" class="img" alt="GOODS_NAME">
          </a>

          <div class="caption">
            <div class="title">
              <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
              <span class="stock">Нет на складе</span>

              <a href="compare.html" class="compare-link">Сравнить</a>
            </div>
          </div>

          <div class="actions">
            <div class="price">
              5120 <span class="rub">Р</span>
              <div class="note">за 1 шт.</div>
            </div>

            <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
          </div>
        </div>
      </div>

      {# блок с товаром #}
      <div class="product-item">
        <div class="product-item__wrap">
          <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
          <a href="catalog-inner.html" class="image">
            <img src="assets/uploads/product-image-1-m.jpg" class="img" alt="GOODS_NAME">
          </a>

          <div class="caption">
            <div class="title">
              <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
              <span class="stock">Нет на складе</span>

              <a href="compare.html" class="compare-link">Сравнить</a>
            </div>
          </div>

          <div class="actions">
            <div class="price">
              5120 <span class="rub">Р</span>
              <div class="note">за 1 шт.</div>
            </div>

            <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
          </div>
        </div>
      </div>

      {# блок с товаром #}
      <div class="product-item">
        <div class="product-item__wrap">
          <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
          <a href="catalog-inner.html" class="image">
            <img src="assets/uploads/product-image-1-m.jpg" class="img" alt="GOODS_NAME">
          </a>

          <div class="caption">
            <div class="title">
              <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
              <span class="stock">Нет на складе</span>

              <a href="compare.html" class="compare-link">Сравнить</a>
            </div>
          </div>

          <div class="actions">
            <div class="price">
              5120 <span class="rub">Р</span>
              <div class="note">за 1 шт.</div>
            </div>

            <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/w-pager.html' %}

  </div>

{% endblock %}

