{% extends 'base.html' %}


{# тайтл страницы #}
{% block title %}Карта сайта{% endblock %}


{# необязательный блок для подключения чего либо. Всталяет содерижимое перед закрывающимся head #}
{% block head %}{% endblock %}


{# содержимое области контента #}
{% block content %}

  <div class="content">
    
    <div class="page-title">Карта сайта</div>

    <div class="sitemap">
      <div class="wrap">
        <div class="title">каталог</div>
        <ul class="list list_catalog">
          <li class="item"><a href="catalog.html" class="link">Диск по металлу</a></li>
          <li class="item"><a href="catalog.html" class="link">Трубные хомуты</a></li>
          <li class="item"><a href="catalog.html" class="link">Заклепки вытяжные</a></li>
          <li class="item"><a href="catalog.html" class="link">Анкер химический</a></li>
          <li class="item"><a href="catalog.html" class="link">Саморезы по дереву</a></li>
          <li class="item"><a href="catalog.html" class="link">Бур по бетону</a></li>
          <li class="item"><a href="catalog.html" class="link">Шурупы и саморезы</a></li>
          <li class="item"><a href="catalog.html" class="link">Шпилька резьбовая</a></li>
          <li class="item"><a href="catalog.html" class="link">Нержавеющий крепеж</a></li>
        </ul>
      </div>
      <ul class="list list_sections">
        <li class="item"><a href="delivery.html" class="link">Доставка и оплата</a></li>
        <li class="item"><a href="about.html" class="link">О нас</a></li>
        <li class="item"><a href="history.html" class="link">Истории успеха</a></li>
        <li class="item"><a href="contacts.html" class="link">Контакты</a></li>
        <li class="item"><a href="news.html" class="link">Новости</a></li>
        <li class="item"><a href="" class="link">Статьи</a></li>
      </ul>
    </div>

  </div>
{% endblock %}


{# необязательный блок для поключения чего-то. Всталяет содерижимое перед закрывающимся body #}
{% block other %}{% endblock %}